
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Opret en artikel", "Create", "Admin");
@Html.ActionLink("Ændre en artikel", "Edit", "Admin")
@Html.ActionLink("Se alle brugere", "ListUsers", "Admin")
@Html.ActionLink("Register en bruger", "Register", "Account")